#conteiner {
    width: 1300px;
    margin: 0 auto;
}

body {
    background: linear-gradient(0deg, #73fa7a 50%, #8ff8ff 50%);

}


#left {
    width: 600px;
    float: left;
    min-height: 1000px;
    margin-right: 20px;

}

#right {
    width: 750px;
    min-height: 1000px;
    margin-left: 50%;

}

ol {
    list-style-type: none;

}

h1 {
    margin: auto 0;
}

