body {
    background: #000000;
    color: rgb(252, 252, 252);
}
p {
   text-align: right; 
}
h1,h2 {
    text-align: right;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
em {
    font-style: italic;
    color: rgb(0, 0, 0);
}